.pageWrapper {
    min-height: 100%;
}

#projectsPageWrapper {
    height: auto;
    padding-bottom: 50px;
}

/* Featured Projects */

.projectsHeader {
    background: transparent;
    color: white;
    padding: 100px;
    text-align: center;
}

.projects {
    background: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
}

.project {
    padding: 0 30px 200px 30px;
}

.projectImage {
    width: 100%;
    height: auto;
}

.projectName {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 20px;
    background-color: transparent;

    font-family: Georgia, serif;
    font-size: 24px;
    font-weight: bolder;
    color: white;
}

.projectName a { color: inherit; } 

.projectName svg {
    vertical-align: text-top;
    display: inline-block;
    margin-right: 10px;
}

.projectName svg:hover {
    cursor: pointer;
}

.projectDescription {
    font-family: Verdana, sans-serif;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

.projectSkills {
    font-size: 13px;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 5px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}

.projectSkills li {
    background: rgba(0, 0, 0, 0.7);
    padding: 3px 10px;
    margin: 3px;
    
    font-weight: 500;
    color: white;
    text-align: center;
}

/* Other Projects */
.projectCardsHeader {
    text-align: center;
    margin: 70px 70px 30px 70px;
}

.projectCards {
    display: grid;
    gap: 30px;
    margin: 20px 70px 50px 70px;
    padding: 0px;
    grid-template-columns: 1fr;
    list-style-type: none;
}

.projectCards svg {
    vertical-align: text-top;
    display: inline-block;
    margin-left: 10px;
    color: black;
}

.projectCards svg:hover {
    cursor: pointer;
}

.projectCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px 30px;
    border-radius: 5px;
    
    animation: fadeIn linear 1s;
    -webkit-animation: fadeIn linear 1s;
    -moz-animation: fadeIn linear 1s;
    -o-animation: fadeIn linear 1s;
    -ms-animation: fadeIn linear 1s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.projectCardName {
    font-family: Georgia, serif;
    border-bottom: 2px solid rgb(215, 215, 215, 0.7);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.projectCardDescription {
    font-family: Verdana, sans-serif;
}


.projectCardSkills {
    font-size: 13px;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 5px;
    display:flex;
    flex-wrap: wrap;
    justify-content: left;
    list-style-type: none;
}

.projectCardSkills li {
    background: #dce1e7;
    padding: 3px 10px;
    margin: 3px;
    border-radius: 10px;

    font-weight: 500;
    color: #4a5568;
    text-align: center;
}

.otherProjectButtonBlock {
    text-align: center;
}

.viewMoreProjectButton {
    background-color:#0a0a23;
    color: white;
    font-size: 18px;
    text-align: center;

    padding: 5px 10px;
    cursor: pointer;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);

    border:none;
    border-radius:10px;
}

@media(min-width: 800px){
    /* Featured projects */
    .project {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .projectName {
        margin-top: 0;
    }

    .projectContent, .projectImageContainer {
        width: calc((100vw - 50px)/2);
    }

    .projectContent {
        z-index: 1;
    }

    .projectRightDirection .projectName svg {
        margin-left: 10px;
        margin-right: 0;
    }

    .projectRightDirection .projectContent {
        transform: translate(-25%, 10%);
        text-align: right;
    }

    .projectLeftDirection .projectContent {
        transform: translate(-75%, 10%);
        text-align: left;
    }

    .projectRightDirection .projectImageContainer {
        transform: translate(25%, -10%);
    }

    .projectLeftDirection .projectImageContainer {
        width: calc((100vw - 50px)/2);
        transform: translate(75%, -10%);
    }

    .projectRightDirection .projectName {
        text-align: right;
    }

    .projectLeftDirection .projectName {
        text-align: left;
    }

    .projectRightDirection .projectSkills {
        justify-content: right;
    }

    .projectLeftDirection .projectSkills {
        justify-content: left;
    }

    /* Other Projects */
    .projectCards {
        grid-template-columns: 1fr 1fr;
    }
}

@media(min-width: 1200px) {
    /* Other Projects */
    .projectCards {

        grid-template-columns: 1fr 1fr 1fr;
    }
}