.navbar {
    position: fixed;
    top: 0;
    z-index: 10;

    list-style-type: none;

    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;

    background-color: rgba(0, 0, 0, 0.7);

    display: flex;
    justify-content: space-evenly;
}

.navbarItem {
    float: left;
    width: 20%;
    color: white;
}

.navbarItem a, .navbarCollapse a{
    text-align: center;
    text-decoration: none;
    display: block;
    color: inherit;
    padding: 12px;
    font-size: 18px;
}

.navbarItem svg, .navbarCollapse svg {
    vertical-align: text-top;
    margin-right: 5px;
    font-size: 20px;
}

.navbarItem a:hover, .navbarItem a:focus-visible, .navbarCollapse a:hover, .navbarCollapse a:focus-visible{
    background-color: rgba(90, 90, 90, 0.5);
    outline: none;
}

.navbarItem.active {
    background-color: rgba(200, 200, 200, 0.5);
}

.navbarCollapse {
    display: none;
    cursor: pointer;
}

/* Collapse the navbar */
@media(max-width: 800px) {
    .navbarItem {
        display: none;
    }

    .navbarCollapse {
        display: block;
        color: white;
        width: 100%;
    }
    
    .menuOpened.navbar{
        display: block;
    }

    .menuOpened .navbarItem {
        display: block;
        float: none;
        width: 100%;
    }
}